<div class="main-block">
  <div class="section-name">{{'SERVICES.SERVICES' | translate}}</div>
  <div class="main-services-block">
    <div class="services-block">
      <span class="name-block">
          {{'SERVICES.IP' | translate}}
      </span>
      <span class="description-block">
          {{'SERVICES.SIMPLIFICATION' | translate}}
      </span>
    </div>
    <div class="services-block">
        <span class="name-block">
            {{'SERVICES.AUDIT' | translate}}
        </span>
        <span class="description-block">
            {{'SERVICES.PROPOSE' | translate}}
        </span>
      </div>
    <div class="services-block">
      <span class="name-block">
          {{'SERVICES.SYSTEM' | translate}}
      </span>
      <span class="description-block">
          {{'SERVICES.PROVIDING' | translate}}
      </span>
    </div>
  </div>
  <div class="main-services-block">
    <div class="services-block">
      <span class="name-block">
          {{'SERVICES.MONTAGE' | translate}}
      </span>
      <span class="description-block">
          {{'SERVICES.MODERN' | translate}}
      </span>
    </div>
    <div class="services-block">
        <span class="name-block">
            {{'SERVICES.CLOUD' | translate}}
        </span>
        <span class="description-block">
            {{'SERVICES.HELP' | translate}}
        </span>
      </div>
    <div class="services-block">
      <span class="name-block">
          {{'SERVICES.IT_SECURITY' | translate}}
      </span>
      <span class="description-block">
          {{'SERVICES.CONTROL' | translate}}
      </span>
    </div>
  </div>
</div>