<div class="main-block">
  <div class="section-name">{{'ABOUT.SECTION_NAME' | translate}}
  </div>
  <div class="text-img">
    <div class="text-block">
      <div class="text">
        {{'ABOUT.TEXT1' | translate}}
        <br />
        <br />
        {{'ABOUT.TEXT2' | translate}}
      </div>
    </div>
    <div class="img-block">
      <img class="img landscape" src="./assets/img/photo1.png" />
      <img class="img portrait" src="./assets/img/photo2.png" />
      <div class="text-name">
        {{'ABOUT.NAME' | translate}}
      </div>
      <div class="text-ceo">
        {{'ABOUT.CEO' | translate}}
      </div>
    </div>
  </div>
</div>