<div class="main-block">
  <div class="section-name">{{'PRICE.PRICE' | translate}}</div>
  <div class="main-price-block">
    <div class="price-block">
      <div class="header">
        <span class="head-text">{{'PRICE.BASIC' | translate}}</span>
      </div>
      <div class="text-block">
        <span class="price">{{'PRICE.PRICE1' | translate}}</span>
        <span class="price1">{{'PRICE.UAH_H' | translate}}</span>
        <br />
        <span class="description">{{'PRICE.DESCRIPTION1' | translate}}</span>
      </div>
    </div>
    <div class="price-block">
      <div class="header">
        <span class="head-text">{{'PRICE.STANDART' | translate}}</span>
      </div>
      <div class="text-block">
        <span class="price">{{'PRICE.PRICE2' | translate}}</span>
        <span class="price1">{{'PRICE.UAH_M' | translate}}</span>
        <br />
        <span class="description">{{'PRICE.DESCRIPTION2' | translate}}</span>
      </div>
    </div>
    <div class="price-block">
      <div class="header">
        <span class="head-text">{{'PRICE.PREMIUM' | translate}}</span>
      </div>
      <div class="text-block">
        <span class="price">{{'PRICE.PRICE3' | translate}}</span>
        <span class="price1">{{'PRICE.UAH_M' | translate}}</span>
        <br />
        <span class="description">{{'PRICE.DESCRIPTION3' | translate}}</span>
      </div>
    </div>
  </div>
</div>