<div class="main-block">
  <div class="section-name">{{'CUSTOMERS.CUSTOMERS' | translate}}</div>
  <!-- <div class="portrait">
    <div class="main-customers-block">
      <div>
        <a  href="https://kyivcity.gov.ua/"><img src="./assets/img/kyiv_mda.svg" class="customers-img" /></a>
      </div>
      <div>
        <a  href="https://kyivvodfond.com.ua/"><img src="./assets/img/kyivwater.svg" class="customers-img" /></a>
      </div>
    </div>
    <div class="main-customers-block">
      <div>
        <a  href=" http://felizata.com.ua/uk/"><img src="./assets/img/felitsada.svg" class="customers-img" /></a>
      </div>
      <div>
        <a  href="https://ravlyk.club/"><img src="./assets/img/ravlyk.svg" class="customers-img" /></a>
      </div>
    </div>
    <div class="main-customers-block">
      <div>
        <a  href="http://vaseda.com.ua/uk/"><img src="./assets/img/vaceda.svg" class="customers-img" /></a>
      </div>
      <div>
        <a  href="https://sealan.com.ua/"><img src="./assets/img/sealan.svg" class="customers-img" /></a>
      </div>
    </div>
    <div class="main-customers-block">
      <div>
        <a  href="https://svitstone.com.ua/"><img src="./assets/img/svitstone.png" class="customers-img" /></a>
      </div>
      <div>
        <a href="http://sunraysolar.com.ua/"><img src="./assets/img/sunraysolar.png" class="customers-img" /></a>
      </div>
    </div>
    <div class="main-customers-block">
      <div>
        <a href="https://monetny-dvir.com.ua/"><img src="./assets/img/md.png" class="customers-img" /></a>
      </div>
      <div>
        <a href="http://art-drive.com.ua/"><img src="./assets/img/art-drive.jpg" class="customers-img" /></a>
      </div>
    </div>
    <div class="main-customers-block">
      <div>
        <a href="https://aqua-climate.com.ua/"><img src="./assets/img/aqua-climate.png" class="customers-img" /></a>
      </div>
      <div>
        <a href="https://burzhuj.dp.ua/"><img src="./assets/img/burzhuj.svg" class="customers-img" /></a>
      </div>
    </div>
  </div> -->

  <div class="portrait">
    <div class="main-customers-block">
      <div>
        <a href="https://kyivcity.gov.ua/"><img src="./assets/img/kyiv_mda.svg"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="https://kyivvodfond.com.ua/"><img src="./assets/img/kyivwater.svg"
            class="customers-img" /></a>
      </div>
      <div>
        <a href=" http://felizata.com.ua/uk/"><img src="./assets/img/felitsada.svg"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="https://ravlyk.club/"><img src="./assets/img/logo-yizhak.png"
            class="customers-img" /></a>
      </div>
    </div>
    <div class="main-customers-block">
      <div>
        <a href="http://vaseda.com.ua/uk/"><img src="./assets/img/vaceda.svg"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="https://sealan.com.ua/"><img src="./assets/img/sealan.svg" class="customers-img" /></a>
      </div>
      <div>
        <a href="https://svitstone.com.ua/"><img src="./assets/img/svitstone.png"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="http://sunraysolar.com.ua/"><img src="./assets/img/sunraysolar.png"
            class="customers-img" /></a>
      </div>
    </div>
    <div class="main-customers-block">
      <div>
        <a href="https://monetny-dvir.com.ua/"><img src="./assets/img/md.png"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="http://art-drive.com.ua/"><img src="./assets/img/art-drive.jpg"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="https://aqua-climate.com.ua/"><img src="./assets/img/aqua-climate.png"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="https://burzhuj.dp.ua/"><img src="./assets/img/burzhuj.png"
            class="customers-img" /></a>
      </div>
    </div>
  </div>

  <!-- <div class="landscape">
    <div class="main-customers-block">
      <div>
        <a href="https://kyivcity.gov.ua/"><img src="./assets/img/kyiv_mda.svg" class="customers-img" /></a>
      </div>
      <div>
        <a href="https://kyivvodfond.com.ua/"><img src="./assets/img/kyivwater.svg" class="customers-img" /></a>
      </div>
      <div>
        <a href="http://felizata.com.ua/uk/"><img src="./assets/img/felitsada.svg" class="customers-img" /></a>
      </div>
    </div>
    <div class="main-customers-block">
      <div>
        <a href="https://ravlyk.club/"><img src="./assets/img/logo-yizhak.png" class="customers-img" /></a>
      </div>
      <div>
        <a href="http://vaseda.com.ua/uk/"><img src="./assets/img/vaceda.svg" class="customers-img" /></a>
      </div>
      <div>
        <a href="https://sealan.com.ua/"><img src="./assets/img/sealan.svg" class="customers-img" /></a>
      </div>
    </div>
    <div class="main-customers-block">
      <div>
        <a href="https://svitstone.com.ua/"><img src="./assets/img/svitstone.png" class="customers-img" /></a>
      </div>
      <div>
        <a href="http://sunraysolar.com.ua/"><img src="./assets/img/sunraysolar.png" class="customers-img" /></a>
      </div>
      <div>
        <a href="https://burzhuj.dp.ua/"><img src="./assets/img/burzhuj.png" class="customers-img" /></a>
      </div>
    </div>
    <div class="main-customers-block">
      <div>
        <a href="https://monetny-dvir.com.ua/"><img src="./assets/img/md.png" class="customers-img" /></a>
      </div>
      <div>
        <a href="http://art-drive.com.ua/"><img src="./assets/img/art-drive.jpg" class="customers-img" /></a>
      </div>
      <div>
        <a href="https://aqua-climate.com.ua/"><img src="./assets/img/aqua-climate.png" class="customers-img" /></a>
      </div>
    </div>
  </div>
</div> -->

  <div class="landscape">
    <div class="main-customers-block">
      <div>
        <a href="https://kyivcity.gov.ua/"><img src="./assets/img/kyiv_mda.svg"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="https://kyivvodfond.com.ua/"><img src="./assets/img/kyivwater.svg"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="http://felizata.com.ua/uk/"><img src="./assets/img/felitsada.svg"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="https://aqua-climate.com.ua/"><img src="./assets/img/aqua-climate.png"
            class="customers-img" /></a>
      </div>
    </div>
    <div class="main-customers-block">
      <div>
        <a href="https://ravlyk.club/"><img src="./assets/img/logo-yizhak.png"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="http://vaseda.com.ua/uk/"><img src="./assets/img/vaceda.svg"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="https://sealan.com.ua/"><img src="./assets/img/sealan.svg" class="customers-img" /></a>
      </div>
      <div>
        <a href="https://monetny-dvir.com.ua/"><img src="./assets/img/md.png"
            class="customers-img" /></a>
      </div>
    </div>
    <div class="main-customers-block">
      <div>
        <a href="https://svitstone.com.ua/"><img src="./assets/img/svitstone.png"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="http://sunraysolar.com.ua/"><img src="./assets/img/sunraysolar.png"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="https://burzhuj.dp.ua/"><img src="./assets/img/burzhuj.png"
            class="customers-img" /></a>
      </div>
      <div>
        <a href="http://art-drive.com.ua/"><img src="./assets/img/art-drive.jpg"
            class="customers-img" /></a>
      </div>
    </div>
  </div>
</div>


<div class="line">
  <span class="line-text">{{'CUSTOMERS.SUCCESS' | translate}}</span>
</div>
<!-- <div class="main-block">
  <div class="section-name">{{'CUSTOMERS.COMMENT' | translate}}</div>
  <div class="text-img">
    <div class="img-block">
      <img class="img" src="./assets/img/igor.jpg" />
      <div class="text-name">
        {{'CUSTOMERS.IGOR' | translate}}
      </div>
      <div class="text-ceo">
        {{'CUSTOMERS.CEO' | translate}}
      </div>
    </div>
    <div class="text-block">
      <div class="text">
        {{'CUSTOMERS.LOREM' | translate}}
      </div>
    </div>
  </div>
</div> -->