<div class="main-block">
  <div class="section-name">
    {{'ADVANTAGES.ADVANTAGES' | translate}}
  </div>
  <div class="main-advantages-block">
    <div class="advantages-block">
      <div class="header-block">
        <span class="advantages-name">{{'ADVANTAGES.AUDIT' | translate}}</span>
        <span class="advantages-name">{{'ADVANTAGES.SETTINGS' | translate}}</span>
      </div>
      <span class="advantages-text">{{'ADVANTAGES.EVERY_SERVER' | translate}}</span>
    </div>
    <div class="advantages-block">
      <span class="advantages-name">{{'ADVANTAGES.ROUND' | translate}}</span>
      <span class="advantages-name">{{'ADVANTAGES.ALL_DAY' | translate}}</span>
      <span class="advantages-text">{{'ADVANTAGES.ALWAYS' | translate}}</span>
    </div>
    <div class="advantages-block">
      <span class="advantages-name">{{'ADVANTAGES.SERVICE' | translate}}</span>
      <span class="advantages-name">{{'ADVANTAGES.MAINTENANCE' | translate}}</span>
      <span class="advantages-text">{{'ADVANTAGES.REGULAR' | translate}}</span>
    </div>
  </div>
  <div class="main-advantages-block">
    <div class="advantages-block">
      <span class="advantages-name">{{'ADVANTAGES.SOFTWARE' | translate}}</span>
      <span class="advantages-text">{{'ADVANTAGES.STRIVE' | translate}}</span>
    </div>
    <div class="advantages-block">
      <span class="advantages-name">{{'ADVANTAGES.SECURITY' | translate}}</span>
      <span class="advantages-text">{{'ADVANTAGES.INFO' | translate}}</span>
    </div>
    <div class="advantages-block">
      <span class="advantages-name">{{'ADVANTAGES.EXPERIANCE' | translate}}</span>
      <span class="advantages-text">{{'ADVANTAGES.WE_HAVE' | translate}}</span>
    </div>
  </div>
</div>